<div
  class="card"
  style="
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20em;
    height: 20em;
  "
>
  <div
    class="card-body"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <h4 class="card-title mb-4">Passport app</h4>
    <a
      href="/users/login"
      class="btn btn-primary form-control mt-4"
      style="color: #fff"
      >login</a
    >
    <a
      href="/users/register"
      class="btn btn-primary form-control mt-4"
      style="color: #fff"
      >register</a
    >
  </div>
</div>
